<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>
  <node name="bp_harvester" pkg="behavioral_planner" type="bp_harvester.py" output="screen">
  </node>
  
  <node name="dummy_nav" pkg="behavioral_planner" type="dummy_nav.py" output="screen">
  </node>

  <node name="dummy_man" pkg="behavioral_planner" type="dummy_man.py" output="screen">
  </node>

</launch>