<launch>
    
  <!-- SQUARE PATH TESTING LAUNCH -->
  <node name="navigation_scratchpad" pkg="ifa_teamg_simulations" type="navigation_scratchpad_gazebo" output="screen" args=''/>
  <!-- -->

  <node pkg="laser_filters" type="scan_to_cloud_filter_chain"
      name="laser_to_cloud_filter">
    <rosparam ns="scan_filter_chain">

        - name: box1
          type: laser_filters/LaserScanBoxFilter
          params:
            box_frame: base_link
            min_x: -15
            max_x: 15
            min_y: 0
            max_y: 15
            min_z: -10
            max_z: 10

        - name: box2
          type: laser_filters/LaserScanBoxFilter
          params:
            box_frame: base_link
            min_x: -15
            max_x: 0
            min_y: -15
            max_y: 15
            min_z: -10
            max_z: 10

        - name: box3
          type: laser_filters/LaserScanBoxFilter
          params:
            box_frame: base_link
            min_x: 2
            max_x: 15
            min_y: -15
            max_y: 15
            min_z: -10
            max_z: 10

        - name: box4
          type: laser_filters/LaserScanBoxFilter
          params:
            box_frame: base_link
            min_x: -15
            max_x: 15
            min_y: -20
            max_y: -0.5
            min_z: -10
            max_z: 10

        - name: box5
          type: laser_filters/LaserScanBoxFilter
          params:
            box_frame: base_link
            min_x: -0.15
            max_x: -0.03
            min_y: 0
            max_y: 0.2
            min_z: -10
            max_z: 10


        - name: shadows
          type: laser_filters/ScanShadowsFilter
          params:
            min_angle: 10
            max_angle: 170
            neighbors: 20
            window: 1





    </rosparam>

    
    <remap from="scan_filtered" to="filtered_box_laser" />
    <param name="high_fidelity" value="true" />
    <param name="target_frame" type="string" value="base_link" />
    <remap from="cloud_filtered" to="laser_cloud_baselink" />

  </node>


  <!-- -->

  <!--
      "lidar supported modes
      Standard: max_distance: 12.0 m, Point number: 2.0K
      Express: max_distance: 12.0 m, Point number: 4.0K
      Boost: max_distance: 12.0 m, Point number: 8.0K"
  -->

</launch>

