<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="stretch_dry_erase_marker">

  <xacro:property name="scale_finger_length" value="0.9" />

    <link
    name="tool_link">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0.102736408076944" />
      <inertia
        ixx="0.00022276310242933"
        ixy="2.51302014148912E-11"
        ixz="4.37326121568066E-14"
        iyy="0.000224402348762416"
        iyz="7.56155084490013E-14"
        izz="9.89236786801813E-06" />
    </inertial>
    <visual>
      <origin
        xyz="-0.17 0.14 -0.08"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://stretch_description/meshes/tool_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="-0.17 0.14 -0.08"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://stretch_description/meshes/tool_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="tool_link"
    type="fixed">
    <origin
      xyz="0 0 -0.038"
      rpy="-3.1416 -2.5445E-16 4.71238898038469" />
    <parent
      link="link_wrist_yaw" />
    <child
      link="tool_link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>
  

